{{#if city}}
<h4 class="header">We, the people of {{capitalize signers.0.city}}, subscribe to this pledge to erradicate the foulness that is spaces.</h4>
{{/if}}
<h3>Subscribers:</h3>
{{#signers}}
  <li> 
    {{#if url}}
      <a href="{{url}}">{{first}} {{last}}</a> 
    {{else}}
      <p class="name">{{first}} {{last}}</p> 
    {{/if}}
    {{age}} 
    <a href="/signers/{{toLowerCase city}}">{{capitalize city}}</a>
  </li>
{{/signers}}
{{#if city}}
<a class="all-signers-link" href="/signers">See all signers</a>
{{/if}}