<img class="tab-img" src="/tab.png" alt="tab keyboard icon" width="600" height="300">
<h1>Update your profile data.</h1>
<form class="profile_edit" action="/profile/edit" method="post">
  <div class="input-container">
      <label for="first">First Name</label>
      <input type="text" name="first" id="first" value="{{first}}"/>
  </div>
  <div class="input-container">
      <label for="last">Last Name</label>
      <input type="text" name="last" id="last" value="{{last}}" />
  </div>
  <div class="input-container">
      <label for="city">City</label>
      <input type="text" name="city" id="city" value="{{capitalize city}}" />
  </div>
  <div class="input-container">
      <label for="age">Age</label>
      <input type="number" name="age" id="age" value="{{age}}" />
  </div>
  <div class="input-container">
      <label for="url">Homepage</label>
      <input type="url" name="url" id="url" value="{{url}}" />
  </div>
  <div class="input-container">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="{{email}}"/>
  </div>
  <div class="input-container">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" />
  </div>
  <input type="submit" class="submit" value="UPDATE" />
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>